#!/bin/bash
export POTREECONV_HOME=`pwd`
export LIBLAS_HOME=$POTREECONV_HOME/share/libLAS-1.7.0/
export LASZIP_HOME=$POTREECONV_HOME/share/laszip-2.1.0/
export BOOST_HOME=$POTREECONV_HOME/share/boost_1_55_0
export BOOST_ROOT=$BOOST_HOME

export CMAKE_MODULE_PATH=$LIBLAS_HOME:${CMAKE_MODULE_PATH}
export LD_RUN_PATH=$BOOST_HOME/lib:$LASZIP_HOME/lib:$LIBLAS_HOME/lib:$POTREECONV_HOME/lib:$LD_RUN_PATH
export LD_LIBRARY_PATH=$BOOST_HOME/lib:$LASZIP_HOME/lib:$LIBLAS_HOME/lib:$POTREECONV_HOME/lib:$LD_LIBRAYR_PATH
export LIBRARY_PATH=$BOOST_HOME/lib:$LASZIP_HOME/lib:$LIBLAS_HOME/lib:$POTREECONV_HOME/lib:$LIBRARY_PATH
export C_INCLUDE_PATH=$LIBLAS_HOME/include/liblas/capi:${C_INCLUDE_PATH}
export CPP_INCLUDE_PATH=$LIBLAS_HOME/include/liblas:${C_INCLUDE_PATH}

export LDFLAGS="${LDFLAGS} -L$LIBLAS_HOME/lib -L$LASZIP_HOME/lib -llas_c -llaszip"
